		<article class="listing">
			<img src="{{rental.image}}" alt=""/>
			<div class="detail owner"><span>Owner:</span>{{rental.owner}}</div>
			<div class="detail type"><span>Type:</span>{{rental.type}}</div>
			<div class="detail location"><span>Location:</span>{{rental.city}}</div>
			<div class="detail bedrooms"><span>Number Bedrooms:</span>{{rental.bedrooms}}</div>
		</article>

{{yield}}
